html,
body,
#mapa {
    height: 100%;
    width: 100%;
}

#contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#panel_config {
    height: 40px;
    border: 1px solid black
}

#panel_izq {
    height: 100%;
    width: 30%;
    border: 1px solid black
}

.contenedor_simbolo {
    margin-left: 5%;
    margin-top: 10px;
    height: fit-content;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgray;
    width: 90%;
    border: 1px solid black;
    justify-content: space-between;

}

#reloj{
    height: 40px;
    border: 1px solid black
}
.simbolo {
    margin: 5px;
    height: 30px;
    border: 1px solid black;
}

.btn_descargar {
    margin: 5px;
}

.btn_trash {
    margin: 5px;
}

img {
    height: 20px;
}